.hospital-image-container {
    animation: slideInLeft 1s ease-out forwards;
  }
  
  .hospital-info-container {
    animation: slideInRight 1s ease-out forwards;
  }
  
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

/* .translate-x-0 {
    transform: translateX(0);
  }
  
  .-translate-x-full {
    transform: translateX(-100%);
  }
  
  .translate-x-full {
    transform: translateX(100%);
  } */